<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <titleCardioWebService</title>
  <link type="text/css" rel="stylesheet" href="/assets/css/bootstrap.min.css" />
</head>

<body>
  
  <!--scripts-->
  <script src="/assets/js/jquery-2.1.4.min.js"></script>
</body>

</html>