<div style="padding-top: 5px; margin-left: auto;margin-right: auto; width:20em;">
<p id="selected-arp"></p>
</div>
<div style="padding: 10px; margin-left: auto;margin-right: auto; width:20em;">
    <p style="text-align: justify; margin-bottom: 10px;">
        <b>[1]</b> Select a pattern, which represents a given user
    </p>
    <div class="input-group" style="padding-left: 65px;">
        <div class="dropdown" style="width:130px;">
            <select id="pattern-dropdown" class="form-control">
            </select>
        </div>
    </div>
</div>
<div style="padding: 10px; margin-left: auto;margin-right: auto; width:20em;">
    <p style="text-align: justify; margin-bottom: 10px;">
        <b>[2]</b> Send the pattern in to be verified or sent to the Android device, depending on the process of <b>A</b>uthenatication or <b>I</b>dentification</p>
    <button class="btn" style="width: 130px;" id="send-pattern" autocomplete=\"off\">Send</button>
</div>