<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.dev.cardioid.ps.cardiodroid">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.vogella.android.locationapi.maps.permission.MAPS_RECEIVE" />
    <uses-permission android:name="android.permission.VIBRATE"/>

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:name=".CardioDroidApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="CardioDroID"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activities.SplashActivity"
            android:label="@string/app_name"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.DashboardActivity"
            android:label="@string/app_name"
            android:launchMode="singleTop" />
        <activity
            android:name=".activities.UserPreferencesActivity"
            android:label="@string/label_settings_activity"
            android:parentActivityName=".activities.DashboardActivity"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.DashboardActivity" />
        </activity>
        <activity
            android:name=".activities.DefineRuleActivity"
            android:label="@string/label_define_new_rule_activity"
            android:parentActivityName=".activities.RuleManagerActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.RuleManagerActivity" />
        </activity>
        <activity android:name=".activities.DefineComposedRuleActivity" />
        <activity
            android:name=".activities.LocationMapsActivity"
            android:label="@string/new_condition_generic_label" />
        <activity
            android:name=".activities.LoginActivity"
            android:label="@string/title_activity_login" />
        <activity android:name=".activities.FaceStateActivity" />

        <service
            android:name=".services.ble.BleDeviceCommunicationService"
            android:enabled="true"
            android:exported="false" />
        <service
            android:name=".services.ble.SearchBleDeviceService"
            android:enabled="true"
            android:exported="false" />

        <receiver
            android:name=".receivers.BleAddressFoundReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="ble.device.address.handler.action" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".receivers.NewUserIdHandlerReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="ble.device.new.user.id.handler.action" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".receivers.IdProcessAnswerHandler"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="id.process.answer.received.action" />
            </intent-filter>
        </receiver>

        <!-- meta data relative to the Google Maps -->
        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="@string/google_maps_key" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <receiver
            android:name=".receivers.ConnectivityReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".receivers.BluetoothStateReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="android.bluetooth.adapter.action.STATE_CHANGED" />
            </intent-filter>
        </receiver>

        <service
            android:name=".contexts.validation.RulesValidator"
            android:exported="false" />
        <service
            android:name=".network.http.updates.UpdateWeatherStorageService"
            android:enabled="true"
            android:exported="false" />
        <service
            android:name=".services.location.FetchAddressIntentService"
            android:enabled="true"
            android:exported="false" />

        <provider
            android:name=".repo.DataProvider"
            android:authorities="com.dev.cardioid.ps.cardiodroid"
            android:enabled="true"
            android:exported="false" />

        <activity
            android:name=".activities.RuleManagerActivity"
            android:label="@string/label_manage_rules_activity"
            android:parentActivityName=".activities.DashboardActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.DashboardActivity" />
        </activity>
        <activity
            android:name=".activities.api_ops.NewGroupActivity"
            android:parentActivityName=".activities.RuleManagerActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.RuleManagerActivity" />
        </activity>
        <activity
            android:name=".activities.api_ops.JoinGroupActivity"
            android:parentActivityName=".activities.RuleManagerActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.RuleManagerActivity" />
        </activity>

        <service
            android:name=".services.location.GeofenceTransitionsIntentService"
            android:exported="false"/>
    </application>

</manifest>